<!-- Modal -->
<div class="modal fade" id="popupdata_promotion" tabindex="-1" aria-labelledby="headname" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="headname_admin">ข้อมูลโปรโมชั่น </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">

                    <!-- <tr>
                        <th scope="row">รหัสผู้ใช้งาน</th>
                        <td class="id"> 1 </td>
                    </tr> -->
                    <tr>
                        <th scope="row">รหัส </th>
                        <td class="ref">  </td>
                    </tr>
                    <tr>
                        <th scope="row">จำนวน </th>
                        <td class="price">  </td>
                    </tr>
                    <tr>
                        <th scope="row">จำนวนการใช้งาน </th>
                        <td class="amount">  </td>
                    </tr>
                    <tr>
                        <th scope="row">ประเภท </th>
                        <td class="type">  </td>
                    </tr>
                    <tr>
                        <th scope="row">เริ่มต้นการใช้งาน </th>
                        <td  class="time_on">  </td>
                    </tr>
                    <tr>
                        <th scope="row">สิ้นสุดการใช้งาน </th>
                        <td  class="time_off">  </td>
                    </tr>
                    <tr>
                        <th scope="row">สาขา </th>
                        <td  class="name_branch">  </td>
                    </tr>
                    <tr>
                        <th scope="row">สถานะ </th>
                        <td  class="status">  </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>